body {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	background-color: #EAEAEA;
	margin: 2.5% auto;
	max-width: 740px;
}

#main{
	margin: 0 auto;
}

h1{
	font-size: 2em;
	text-align: center;
}


ul {
  list-style-type: none;
  margin: 2%;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
footer{
	text-align: right;
	font-size: .875em;
}